<%= render 'layouts/sidebar' %>

<main id="main">
  <%= render 'layouts/header' %>
  <div id="contents">
    <h2>ダッシュボード</h2>
    <p>Coming soon...</p>
  </div>
  <%= render 'layouts/footer' %>
</main>