@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&family=Noto+Sans+JP:wght@400;700;900&family=M+PLUS+1p:wght@400;700;900&display=swap');


/****************
* Font
*****************/
* {
  font-family: 'Nunito', 'Noto Sans JP', sans-serif;
}


/****************
* Common
*****************/
#wrap {
  width: 100vw;
  height: 100vh;
}


/****************
* Sidebar
*****************/
#sidebar {
  width: $sidebar_width;
  height: $sidebar_height;
  background: $side_background;
  position: fixed;
  top: 0;
  left: 0;
  transition: $transition_02;

  .sidebar-trigger {
    width: 100%;
    height: $sidebar_trigger_height;
    display: flex;
    justify-content: center;

    button.sidebar-toggle-button {
      border: none;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      transition: $transition_02;
      padding: 0;
      cursor: pointer;
      outline: none;

      &:hover {
        background: $color_button_bg;
      }

      .next-svg,
      .trigger-open {
        display: none;
      }

      .back-svg,
      .next-svg {
        margin: 0 auto;
      }
    }

    .sidebar-toggle-svg {
      width: 18px;
    }
  }
}

#sidebar.close {
  width: 80px;

  .logo-text,
  .sidebar-menu-text,
  .back-svg,
  .trigger-close {
    display: none;
  }

  .sidebar-trigger button.sidebar-toggle-button .next-svg,
  .sidebar-trigger button.sidebar-toggle-button .trigger-open {
    display: block;
  }

  .sidebar-icon {
    text-align: center;
  }

  #menuArea ul {
    padding: 0;
  }

  + #main {
    width: calc( 100vw - 80px );

    #header {
      width: calc( 100vw - 80px );
    }

    #contents {
      width: calc( 100vw - 80px );
    }

    #footer {
      width: calc( 100vw - 80px );
    }
  }
}

#logoArea {
  background: transparent;
  width: 100%;
  height: $logo_area_height;
  position: relative;
}

#logo {
  @include w_h_center;
  width: 100%;

  .logo-icon {
    // margin-right: 8px;

    .logo-svg {
      width: 64px;
    }
  }
}

#logo h1 {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  text-align: center;
  color: #035db6
}


#menuArea {
  background: transparent;
  width: 100%;
  height: calc( 100% - #{$logo_area_height} - #{$sidebar_trigger_height} );
  padding: 0 16px;
  box-sizing: border-box;

  ul {
    box-sizing: border-box;
    // padding: 0;

    li {
      list-style-type: none;
      margin: 12px 0;
      box-sizing: border-box;

      a {
        display: block;
        padding: 8px 12px;
        text-decoration: none;
        color: $sidebar_menu_color;
        border-radius: $radius12;
        transition: $transition_02;

        &:hover {
          // background: #e7e7ee;
          color: #1e87f0;
          fill: #1e87f0;
        }

        .sidebar-icon {
          margin-right: 12px;
        }

        .sidebar-icon-svg {
          width: 24px;
        }
      }
    }
  }
}


/****************
* Main
*****************/
#main {
  width: calc( 100vw - #{$sidebar_width} );
  height: 100vh;
  background: $main_background;
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto;
  transition: $transition_02;
}


/****************
* Header
*****************/
#header {
  width: calc( 100vw - #{$sidebar_width} );
  height: $header_height;
  background: $main_background;
  // border-bottom: 1px solid #ddd;
  padding: 4px 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  .header-inner {
    width: 100%;
  }

  .header-contents {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .notice {
    display: flex;
    align-items: center;
    width: 38px;
    height: 38px;
  }

  .notice-icon {
    position: relative;
    display: flex;
    align-items: center;

    button {
      border: none;
      transition: $transition_02;
      padding: 0;
      border-radius: 50%;
      width: 38px;
      height: 38px;

      &:hover {
        background: $color_button_bg;
      }

      .notice-svg {
        width: 24px;
        height: 24px;
      }
    }

    .notice-badge {
      width: 18px;
      height: 18px;
      text-align: center;
      font-size: 12px;
      background: #cc4242;
      color: #fff;
      border-radius: 50%;
      position: absolute;
      top: -2px;
      right: -4px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .user {
    margin: 0 48px 0 64px;

    button {
      border: none;
      display: flex;
      transition: $transition_02;
      border-radius: $radius12;
      padding: 0 16px;

      &:hover {
        background: $color_button_bg;
      }
    }
  }

  .user-icon {
    width: 24px;
    height: 24px;
  }

  .user-name {
    margin-left: 16px;
  }
}


/****************
* Contents
*****************/
#contents {
  width: calc( 100vw - #{$sidebar_width} );
  min-height: calc( 100vh - #{$header_height} - #{$footer_height} );
  background: transparent;
  padding: 16px 24px;
  box-sizing: border-box;

  .title-wrapper {
    margin-bottom: 24px;
  }
  
  h2.contents-title {
    font-size: 24px;
    color: $color_contents_h2;
    font-weight: bold;
    margin: 0;
  }

  .contents-subtitle span {
    color: $color_contents_subtitle

  }
}


/****************
* Footer
*****************/
#footer {
  width: calc( 100vw - #{$sidebar_width} );
  height: $footer_height;
  line-height: $footer_height;

  .copyright {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin: 0;
  }
}


/****************
* Parts
*****************/
.card {
  border-radius: $radius12;
}

.text-left {
  text-align: left !important;
}

.button-rounded {
  border-radius: 50px !important;
}

.text-danger {
  color: $color_danger !important;
}

table {

  tbody td.td-action {
    position: relative;

    button.td-action-button {
    border: none;
    visibility: hidden;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    outline: none;
    padding: 0;
    line-height: 0;
    @include w_h_center;

      &:hover {
        background: #f0f0f0;
      }

      img {
        width: 12px;
      }
    }
  }
}

.dropdown-contents {
  .action-icon {
    margin-right: 8px;

    .action-svg {
      width: 20px;
      height: 20px;
    }

    .trash-svg,
    .logout-svg {
      fill: $color_danger;
    }
  }
}

form.form-custom {

  input[type=text],
  select,
  textarea {
    border-radius: 8px !important;
  }

  input[type=text] {
    background: $input_background;
  }

  .label {
    color: #a0a0a0;
  }

  .form-item {
    margin-bottom: 48px;
  }
}

.alert-custom {
  border-radius: 12px;

  .uk-alert-close {
    position: absolute;
    top: 20px;
    left: initial;
    right: 15px;
  }
}

.cursor-pointer {
  cursor: pointer;
}