.table-pagination {

  nav.pagination {
    display: flex;
  }

  li {
    margin: 0 12px;
  }

  span.current {
    color: #666;
  }

  a {
    color: #999;
    transition: color .1s ease-in-out;

    &:hover {
      color: #666;
      text-decoration: none;
    }
  }
  

  .prev,
  .next {
    cursor: pointer;

    a {
      width: 100%;
      height: 100%;
    }
  }
}