
.uk-table {
  thead th {
    font-weight: bold;
  }
  td {
    font-size: 14px;
  }
}

.uk-button {
  text-transform: none !important;
}

.uk-modal-dialog {
  border-radius: 12px;

  button {
    border-radius: 50px;
  }
}