<%= render 'layouts/sidebar' %>

<main id="main">
  <%= render 'layouts/header' %>
  <div id="contents">
    <h2>顧客管理</h2>
    <div class="card uk-card uk-card-default uk-card-body">
      <form>
        <fieldset class="uk-fieldset">

          <legend class="uk-legend">新規顧客登録</legend>

          <div class="uk-margin">
              <input class="uk-input" type="text" placeholder="Input">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</main>