<header id="header">
  <div class="header-inner">
    <div class="header-contents">
      <div class="notice">
        <div class="notice-icon">
          <button type="button" class="uk-button uk-button-default">
            <%= embedded_svg("notice.svg", class: "action-svg notice-svg") %>
            <span class="notice-badge">2</span>
          </button>
          <div class="card uk-card uk-card-default uk-card-body uk-dropdown uk-dropdown-bottom-right" uk-dropdown="mode: click">
            <ul class="dropdown-contents uk-nav uk-dropdown-nav">
            <li>You got a email from your customer.<br>Check your inbox.</li>
            <li class="uk-nav-divider"></li>
            <li>A new function was released.<br>Check your inbox.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="user">
        <button type="button" class="uk-button uk-button-default">
          <div class="user-icon">
            <%= image_tag  "user.svg" %>
          </div>
          <div class="user-name">username</div>
        </button>
        <div class="card uk-card uk-card-default uk-card-body uk-dropdown uk-dropdown-bottom-right" uk-dropdown="mode: click">
          <ul class="dropdown-contents uk-nav uk-dropdown-nav">
            <li>
              <a href="#">
                <span class="action-icon"><%= embedded_svg("user.svg", class: "action-svg user-svg") %></span>
                <span>My page</span>
              </a>
            </li>
            <li class="uk-nav-divider"></li>
            <li>
              <a href="#" class="text-danger">
                <span class="action-icon"><%= embedded_svg("logout.svg", class: "action-svg logout-svg") %></span>
                <span>Sign out<span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>