<section id="sidebar">

  <!-- Logo -->
  <section id="logoArea">
    <div id="logo">
      <h1>ABC Reform</h1>
    </div>
  </section>

  <!-- Sidebar Menu -->
  <nav id="menuArea">
    <div>
      <ul>
        <li>
          <a href="/">ダッシュボード</a>
        </li>
        <li>
          <a href="/customer">顧客管理</a>
        </li>
        <li>
          <a href="/order">受注管理</a>
        </li>
        <li>
          <a href="/employee">従業員管理</a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="sidebarTrigger" class="sidebar-trigger">
    <div></div>
  </div>

</section>